cache/
cnic_if.h
e1000/
e1000e/
forcedeth.c
xen-netfront.c
r8169.c
get-drivers
igb/
ixgbe/
log/
scripts/conf
virtio_net.c
config.log
Kbuild
netmap.mak
config.status
drivers.mak
patches
get-*
netmap-tmpdir
netmap_linux_config.h
netmap-tmp.c
i40e
failed-patches
tmp-patches
veth.c
modules.order
Module.symvers
.tmp_versions
*.gcno
*.core
*.gcno
*.mod.c
build*/
netmap_version.h
netmap_version.h.tmp
.*.cmd
*.ko
